<section id='#comedians'>
  <div class="group-panel">
    <div class="container-fluid">
      <div class="container group-show-panel-heading text-center">
        <br>
        <h1 class="gallery">Top Rated Comedians</h1>
        <br>
      </div>
      <div class="row">
        <% counter = 1 %>
        <% @comedians.each do |x| %>
          <% if (counter + 3) % 4 == 0 %>
            <div class="horiz-flex-box space-around">
          <% end %>
        <!-- Real box beginning -->
              <div class="col-xs-4 col-lg-2 comedian-panel-container-outer
                          comedian-hover-box">
                <!-- <div class="panel-body comedian-filler-box" style="display:none;"></div> -->
                <div class="panel-body comedian-panel-container-body">
                  <div class="vert-flex-box">
                    <div class="horiz-flex-box">
                      <div class="vert-flex-box col-lg-12">
                        <div class="comedian-panel-body-line">
                          <h3><%= link_to x.name, x, class: "comedian-table-link" %></h3>
                        </div>
                        <%= link_to image_tag(x.avatar.url(:medium),
                              class: "img-rounded img-responsive img-left panel-image"), x %>
                        <div class="comedian-panel-body-line">
                          <h4>
                            <div class="average-review-rating" data-score=<%= x.average_review %>>
                              <span>
                                <p class="profile-rating"><%= x.reviews.count %> reviews</p>
                              </span>
                            </div>
                          </h4>
                        </div>
                      </div>
                    <div class="vert-flex-box col-lg-12 hidden">
                      <h4>Upcoming Shows</h4>
                        <% x.shows.each do |show| %>
                      <div>
                        <% unless x.show.nil? || x.next_show.date.nil? %>
                          <%= link_to show.show_name, show_path(show), class: "comedian-table-link" %>
                        <% end %>
                      </div>
                      <% end %>
                      <div class="comedian-panel-body-line hidden">
                        <h4>Bio: </h4>
                        <div class="vert-flex-box comedian-panel-bio"><%= x.bio %></div>
                      </div>
                    </div>
                  </div>
                <div class="horiz-flex-box space-around hidden comedian-panel-bottom">
                  <div>
                    <i class="fa fa-twitter" style="font-size:36px" aria-hidden="true"></i>
                    <%= x.twitter_handle %>
                  </div>
                  <div>
                    <i class="fa fa-facebook-official" style="font-size:36px" aria-hidden="true"></i>
                    <%= x.facebook %>
                  </div>
                  <div>
                    <i class="fa fa-youtube" style="font-size:36px" aria-hidden="true"></i>
                    <%= x.youtube %>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <% if counter % 4 == 0 %>
        </div>
            <% end %>
            <% counter += 1 %>
              <!-- Real box end -->
          <% end %>
      </div>
    </div>
  </div>
</section>
