<%= form_for @comedian, html: { multipart: true } do |f| %>
  <% if @comedian.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comedian.errors.count, "error") %> prohibited this comedian from being saved:</h2>

      <ul>
      <% @comedian.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="comedian-signup-container">
    <div>
      <div class="col-md-5">
        <div class="input-group">
          <span class="input-group-addon", id="basic-addon1"><%= f.label :name %></span>
          <%= f.text_field :name, class: "form-control", 'aria-describedby':"basic-addon1" %>
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon", id="basic-addon1"><%= f.label :username %></span>
          <%= f.text_field :username, class: "form-control", 'aria-describedby':"basic-addon1" %>
        </div>
        <br>
        <div class="field">
          <%= f.label :avatar %><br>
          <%= f.file_field :avatar %>
        </div>
      </div>
      <div class="col-md-7">
        <div class="input-group">
          <span class="input-group-addon", id="basic-addon1"><%= f.label :password %></span>
          <%= f.password_field :password, class: "form-control", 'aria-describedby':"basic-addon1" %>
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon", id="basic-addon1"><%= f.label :password_confirmation %></span>
          <%= f.password_field :password_confirmation, class: "form-control", 'aria-describedby':"basic-addon1" %>
        </div>
      </div>
    </div>
    <br>
    <div class="actions">
      <div>
        <%= f.submit %>
      </div>
      <div>
        <%= button_to 'Back', root_path %>
      </div>
    </div>
  </div>
<% end %>
