<p id="notice"><%= notice %></p>
<%= image_tag @comedian.avatar.url(:medium)%>
<p>
  <strong>Name:</strong>
  <%= @comedian.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @comedian.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @comedian.password %>
</p>

<%= link_to 'Edit', edit_comedian_path(@comedian) %> |
<%= link_to 'Back', root_path %>
