
<%= form_tag '', :method => :get do %>
  <%= label_tag :name, "Comedian name" %>
  <%= text_field_tag :name %>
  <%= submit_tag 'Filter' %>
<% end %><br>
<%= form_tag '', :method => :get do %>
  <%= label_tag :venue, "Venue" %>
  <%= text_field_tag :venue %>
  <%= submit_tag 'Filter' %>
<% end %><br>
<%= form_tag '', :method => :get do %>
  <%= label_tag :show_name, "Show Name" %>
  <%= text_field_tag :show_name %>
  <%= submit_tag 'Filter' %>
<% end %><br>
<%= form_tag '', :method => :get do %>
  <%= label_tag :date, "Search by date" %>
  <%= date_field_tag :date %>
  <%= submit_tag 'Filter' %>
<% end %><br>
<%= form_tag '', :method => :get do %>
  <%= label_tag :time, "Search by time" %>
  <%= time_field_tag :time %>
  <%= submit_tag 'Filter' %>
<% end %><br>

<%= link_to "Start Over", root_path %>
<table>
  <tr class="custom">
    <th>Shows</th>
  </tr>
<% @bookings.each do |b| %>
  <tr class="custom">
    <td><%= b.comedian.name %></td>
    <td><%= b.show.venue %></td> 
    <td><%= b.show.show_name %></td> 
    <td><%= b.show.date %></td>
    <td><%= b.show.time %></td>
  </tr>
<% end %>
</table>
