<div class="group-panel">
  <div class="container-fluid">
    <div class="group-panel-heading">
      <br>
      <h1 class="gallery">Shows</h1>
      <br>
    </div>
    <div class="row">
      <% counter = 1 %>
      <% div_start = 0 %>
      <% div_end = 0 %>
      <% @shows.each do |x| %>
        <% if (counter + 3) % 4 == 0 %>
          <% div_start += 1 %>
      <div class="horiz-flex-box space-around">
        <% end %>
      <!-- Real box beginning -->
        <div class="col-xs-4 col-lg-8 comedian-panel-container-outer-hover
                    comedian-hover-box">
          <div class="panel-body comedian-panel-container-body-hover">
            <div class="vert-flex-box">
              <div class="horiz-flex-box">
                <div class="vert-flex-box col-lg-12">
                  <div class="comedian-panel-body-line-hover">
                    <h3><%= link_to x.show_name, x, class: "show-panel" %></h3>
                  </div>
                  <%= link_to image_tag(x.avatar.url(:medium),
                    class: "img-rounded img-responsive img-left panel-image"), x %>
                  <div class="comedian-panel-body-line">
                    <h4><%= x.address %></h4>
                    <h4><%= x.city %><%= x.state %></h4>
                  </div>
                  <div class="comedian-panel-body-line ">
                    <h4>Description</h4>
                  </div>
                </div>
                <div class="vert-flex-box col-lg-12 ">
                  <h4>Line-Up</h4>
                    <% x.comedians.each do |comedian| %>
                  <div>
                      <%= image_tag comedian.avatar.url(:thumb) %>
                      <%= link_to comedian.name, x, class: "show-panel" %>
                  </div>
                  <% end %>
                </div>
              </div>
              <div class="horiz-flex-box space-around comedian-panel-bottom">
                <div>
                  <i class="fa fa-twitter" aria-hidden="true"></i>@exampleHandle
                </div>
                <div>
                  <i class="fa fa-envelope" aria-hidden="true"></i>example@email.com
                </div>
                <div>
                  <i class="fa fa-phone" aria-hidden="true"></i>(305) 555-5555
                </div>
              </div>
            </div>
          </div>
        </div>
        <% if counter % 4 == 0 %>
          <% div_end += 1 %>
      </div>
        <% end %>
        <% counter += 1 %>
        <!-- Real box end -->
      <% end %>
      <% if div_start < div_end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
