<div class="horiz-flex-box space-around show-container">
  <div class="vert-flex-box space-around show-left-box" style="background-color:orange;">
    <div class= "horiz-flex-box flex-start show-title-box">
      <div class="vert-flex-box space-around">
        <div class="horiz-flex-box space-around">
          <div>
            <%= image_tag @show.avatar.url(:medium), height: '150px', width: '150px' %>
          </div>
          <div class="vert-flex-box flex-start show-name-box">
            <div id="show-header-name">
              <h1 class="show-header-name"><%= @show.show_name %></h1>
            </div>
            <div id="show-header-venue">
              <h4 class="show-header-venue">
                <%= link_to @show.venue, @show.venue_website %>
              </h4>
              <div class="horiz-flex-box flex-start">
                <div class="average-review-rating" data-score=<%= @average_review %>></div>
              </div>
              <div class="horiz-flex-box flex-start">
                <div>
                  <h5 class="show-header-venue">
                    Based on <%= @show.reviews.count %> reviews
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="horiz-flex-box space-around">
      <div class="vert-flex-box space-around" style="background-color:green;">
        <div class = "gmaps_iframe">
          <iframe
            width="350"
            height="350"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBvc3cf9rMc8McjqK3mVH2OCzrZndlyahg&q=<%= @show.address %>,<%= @show.city %>,<%= @show.state %>" allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  </div>
  <!-- Here -->
  <div class="vert-flex-box flex-start">
    <div class="horiz-flex-box show-header-container space-around"
    style="background-color:teal;">
      <p id="notice">
        <%= notice %>
      </p>
      <div class="horiz-flex-box flex-start">
        <div class="vert-flex-box center show-bookings-title">
          <span class="booked-comedians-title">The</span>
          <span class="booked-comedians-title">LineUp:</span>
        </div>
      </div>
      <% counter = 0 %>
      <% @show.comedians.sample(5).each do |x| %>
        <div class="vert-flex-box center comedian-show-panel-outer">
          <div class="horiz-flex-box center">
            <%= image_tag x.avatar.url(:medium), height: '50px', width: '50px' %>
          </div>
          <div class="show-bookings-name vert-flex-box">
            <div class="horiz-flex-box space-around"><%= link_to x.name, x %></div>
            <div class="horiz-flex-box space-around"><%= link_to x.username, x %></div>
          </div>
        </div>
        <% counter += 1 %>
      <% end %>
      <% while counter < 5 %>
        <div class="vert-flex-box center comedian-show-panel-outer-filler"></div>
        <% counter += 1 %>
      <% end %>
    </div>
    <div class="show-right-box vert-flex-box space-around" style="background-color:blue;">
      <div class="vert-flex-box show-body-outer-box" style="background-color:yellow;">
        Some Text
      </div>
      <div class="vert-flex-box show-body-outer-box" style="background-color:yellow;">
        Some Text
      </div>
      <div class="vert-flex-box show-body-outer-box" style="background-color:yellow;">
        Some Text
      </div>
    </div>
  </div>
</div>
