<div class="horiz-flex-box space-around show-container">
  <div class="vert-flex-box space-around show-left-box">
    <div class= "horiz-flex-box flex-start show-title-box">
      <div class="vert-flex-box space-around">
        <div class="horiz-flex-box space-around">
          <div>
            <%= image_tag @show.avatar.url(:medium), height: '150px', width: '150px' %>
          </div>
          <div class="vert-flex-box flex-start show-name-box">
            <div id="show-header-name">
              <h1 class="show-header-name"><%= @show.show_name %></h1>
            </div>
            <div id="show-header-venue">
              <h4 class="show-header-venue">
                <%= link_to @show.venue, @show.venue_website %>
              </h4>
              <div class="horiz-flex-box flex-start">
                <div class="average-review-rating title-stars"
                     data-score=<%= @average_review %>></div>
              </div>
              <div class="horiz-flex-box flex-start">
                <div>
                  <h5 class="show-header-venue">
                    Based on <%= @show.reviews.count %> reviews
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Description box -->

    <div class= "horiz-flex-box flex-start show-bio-box">
      <div class="vert-flex-box space-around">
        <p class="show-bio"><%= @show.bio %></p>
      </div>
    </div>
    <!-- Google Maps box -->

    <div class="horiz-flex-box space-around">
      <div class="vert-flex-box space-around text center map-wrapper">
        <h2>Where in Miami?</h2>
        <div class = "gmaps_iframe">
          <iframe
            width="350"
            height="350"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBvc3cf9rMc8McjqK3mVH2OCzrZndlyahg&q=<%= @show.address %>,<%= @show.city %>,<%= @show.state %>" allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  </div>
  <!-- Here -->
  <div class="vert-flex-box flex-start show-right-side">
    <div class="horiz-flex-box show-header-container space-around">
      <div class="horiz-flex-box flex-start">
        <div class="vert-flex-box center show-bookings-title">
          <span class="booked-comedians-title">The</span>
          <span class="booked-comedians-title">LineUp:</span>
        </div>
      </div>
      <% counter = 0 %>
      <% @show.comedians.sample(5).each do |x| %>
        <div class="vert-flex-box center comedian-show-panel-outer">
          <%= link_to x do %>
          <div class="horiz-flex-box center">
            <%= image_tag x.avatar.url(:medium), height: '75px', width: '75px' %>
          </div>
          <div class="show-bookings-name vert-flex-box">
            <div class="horiz-flex-box space-around"><%= x.name %></div>
            <div class="horiz-flex-box space-around"><%= x.username %></div>
          </div>
          <% end %>
        </div>
        <% counter += 1 %>
      <% end %>
      <% while counter < 5 %>
        <div class="vert-flex-box center comedian-show-panel-outer-filler"></div>
        <% counter += 1 %>
      <% end %>
    </div>
    <div class="show-right-box vert-flex-box flex-start">
      <div class="vert-flex-box show-body-outer-box">
        <%= render 'show_form' %>
      </div>
      <br>
        <% unless @show.nil? %>
          <% unless @show.reviews.nil? %>
            <% @show.reviews.each do |r| %>
              <div class="individual-show-comment">
                <div class="col-lg-2 comedian-comment-left vert-flex-box">
                  <div class="review-rating" data-score="<%= r.rating %>">
                  </div>
                </div>
                <div class="col-lg-10">
                  <p class="comment-body"><%= r.comment %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>