<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @show.show_name %>
</p>

<p>
  <strong>Venue:</strong>
  <%= link_to @show.venue, @show.venue_website %>
</p>

<p>
  <strong>Date:</strong>
  <%= @show.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @show.time %>
</p>

<p>
  <strong>Booked comedians:</strong>
  <% @show.bookings.each do |x| %>
    <%= link_to x.comedian.name, x.comedian %>
  <% end %>
</p>

<div class = "gmaps_iframe"><iframe
  width="350"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBvc3cf9rMc8McjqK3mVH2OCzrZndlyahg&q=<%= @show.address %>,<%= @show.city %>,<%= @show.state %>" allowfullscreen>
</iframe></div>


<%= render 'bookings/form' %>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', root_path %>
