    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <div class="banner-filler"></div>
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <section id="services">
      <div class="jumbotron text-center">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1 class="section-heading">Connecting the community through laughter</h1>
              <hr class="jumbo">
          </div>
        </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                  <i class="fa fa-comments" style="font-size:48px;color:#ac1c35"></i>
                  <h3>Local Comedians</h3>
                  <p class="text-muted">Real people, User driven ratings</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                  <i class="fa fa-sitemap" style="font-size:48px;color:#ac1c35"></i>
                  <h3>A Social Network</h3>
                   <p class="text-muted">Real people, User driven ratings</p>
                </div>
              </div> 
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="service-box">
                    <i class="fa fa-user-plus" style="font-size:48px;color:#ac1c35"></i>
                    <h3>Local Comedians</h3>
                    <p class="text-muted">Real people, User driven ratings</p>
                  </div>
              </div> 
              <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                  <i class="fa fa-line-chart" style="font-size:48px;color:#ac1c35"></i>
                  <h3>Local Comedians</h3>
                  <p class="text-muted">Real people, User driven ratings</p>
                </div>
              </div> 
          </div>
        </div>
      </section>
<br>
<div class="container">
  <div class="well well-lg col-lg-3 text-center"><h1>Comedians of Miami</h1></div>
</div><br>
    <div class="group-panel">  
      <div class="container-fluid">
        <div class="row">
          <% @comedians.each do |x| %>
              <div class="col-xs-4 col-lg-3">
                <div id="panel" class="panel panel-warning">
                  <div class="panel-heading"><h4><%= link_to x.name, x, class: "comedian-table-link" %></h4>
                  </div>
                    <div class="panel-body"><%= link_to image_tag(x.avatar.url(:medium), class: "img-rounded img-responsive img-center"), x %>
                        <%= link_to x.next_show_name, x.next_show %>
                            <%= x.bio %>
                    </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div> 

        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>



<%= render 'bookings/index' %>
