    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
          <h3>Comedians</h3>
          <hr>
            <% @comedians.each do |x| %>
            <% x %>
            <div class="col-sm-4">
              <%= link_to image_tag(x.avatar.url(:medium), class: "img-circle img-responsive img-center"), x %>
                <h2><%= link_to x.name, x %></h2>
                <p><%= link_to x.next_show_name, x.next_show %><p>
                <p><%= x.bio %><p>
            </div>
            <% end %>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>


<h1>Search Comedian Shows</h1>
<%= render 'bookings/index' %>
