<div id="open_mic_header">
    <%= image_tag("OpenMiic/OpenMiiclogo.png", size: "400x200", alt: "OpenMiic logo") %>
      <h1>Find the Best Local Comedians</h1>
</div>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Profile</th>
      <th colspan="3">Next Show</th>
    </tr>
  </thead>
  <tbody>
    <%= link_to 'Sign in as a comedian', new_comedian_session_path %> |
    <%= link_to 'Sign in as a user', new_user_session_path %>
    <% @comedians.each do |comedian| %>
      <tr>
        <td><%= image_tag comedian.avatar.url(:thumb)%></td>
        <td><%= comedian.name %></td>
        <td><%= link_to "#{comedian.username}", comedian %></td>
        <td><%= link_to "#{comedian.next_show_name}", comedian.next_show %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Search Comedian Shows</h1>
<%= render 'bookings/index' %>
<%= render 'bookings/form' %>
