<div class="background-comedian-signup-master">
<br>
		<div class="comedian-signup-master-container col-md-8 col-centered">
			<br>
				<div class="comedian-signup-container">
					<div class="col-md-12 row">	
					<%= form_for([@comedian, @comedian.reviews.build]) do |f| %>
						<div class="horiz-flex-box field col-lg-1">
							<span class="input-group-addon", id="basic-addon1">
							<%= f.label :rating %><br>
							</span>
							<%= f.number_field :rating, min:1, max:5  %>
						</div>	
					</div>
					<br><br><br>
					<div class="col-md-12 row">		
						<div class="horiz-flex-box field col-lg-2">
							<span class="input-group-addon", id="basic-addon1">
								<%= f.label :comment %><br>
							</span>
						</div>
						<br><br>
						<div class="container-fluid">
						<%= f.text_area :comment, class:'textarea' %>
						</div>
					</div>
						<div class="actions">
						<%= f.submit %>
						</div>
					<% end %>
					</div>
				</div>
		</div>			
</div>
